.bgvideo {
    height: 85vh;
    width: 100% ;
    position: relative;
}

.bgvideo video {
    height: 85vh;
    width: 100% ;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

